<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Geoloracja Dashboard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link href="{{ url_for('static', filename='css/dashboard.css') }}" rel="stylesheet">
</head>

</html>

<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="/">
      <img src="{{ url_for('static', filename='images/geoloracja_logo.png') }}" width="47" height="30" class="d-inline-block align-top" alt="">
      Geoloracja Dashboard
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('dashboard') }}">Dashboard <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('mydevices') }}">Moje urządzenia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('myprofile') }}">Mój profil</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        {% if admin %}
          <a class="btn btn-success my-2 my-sm-0" href="/admin" style="margin-right: .25rem;">Admin Panel</a>
        {% endif %}
        <a class="btn btn-success my-2 my-sm-0" href="{{ url_for('logout') }}">Wyloguj</a>
      </form>
    </div>
  </nav>
</header>
<body>
   <div class="container-fluid">
     <div class="row">
       <nav class="col-md-2 d-none d-md-block bg-light sidebar">
         <div class="sidebar-sticky">
           <ul class="nav flex-column">
             <li class="nav-item">
               <a class="nav-link active" href="{{ url_for('dashboard') }}">
                 <span data-feather="home"></span>
                 Mapa urządzeń <span class="sr-only">(current)</span>
               </a>
             </li>
             <li class="nav-item">
               <a class="nav-link" href="{{ url_for('selectarea') }}">
                 <span data-feather="file"></span>
                 Zaznacz obszar
               </a>
             </li>
           </ul>
         </div>
       </nav>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <style>
      #map {
        height: 100%px;
      }
    </style>
  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <div class="justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3" style="margin-top: 4rem;">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                  <ul class=flashes style="margin-top:20px">
                    {% for message in messages %}
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-5">
                                <div class="alert alert-success text-center" role="alert">
                                    {{ message }}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                  </ul>
                {% endif %}
              {% endwith %}
            {% block body %}{% endblock %}
            <h2>Predykcja obszaru na podstawie LoRa</h2>
            {% for device in devices %}
              {% if device.prediction == None %}
                <h5>Status urządzenia {{ device.name }}: Niewystarczające dane</h5>
              {% endif %}
              {% if device.prediction == 'out' %}
                <h5>Status urządzenia {{ device.name }}: Poza obszarem</h5>
              {% endif %}
              {% if device.prediction == 'in' %}
                <h5>Status urządzenia {{ device.name }}: W obszarze</h5>
              {% endif %}
            {% endfor %}
            <hr class="my-4">
            <h2>Lokalizacja urządzeń na podstawie GPS</h2>
            <div id="map" style="height:700px;"></div>
              <script>
                var map;
                function initMap() {
                  map = new google.maps.Map(document.getElementById('map'), {
                    center: {lat: 51.108860, lng: 17.050860},
                    zoom: 13,
                    disableDefaultUI: true,
                    zoomControl: true,
                    gestureHandling: 'cooperative'
                  });
                  var myLatlng = new google.maps.LatLng(51.108860, 17.050860);

                  {% for device in devices %}
                    {% if device.area.all() %}
                      var {{ device.name }}Coords = {{ device.area.all()[0].coordinatesString }}
                      var {{ device.name }}Area = new google.maps.Polygon({
                        paths: {{ device.name }}Coords,
                        strokeColor: '#032200',
                        strokeOpacity: 0.8,
                        strokeWeight: 2,
                        fillColor: '#00cbc5',
                        fillOpacity: 0.35
                      });
                      {{ device.name }}Area.setMap(map);
                    {% endif %}
                  {% endfor %}
                  var icon = {
                      url: "{{ url_for('static', filename='images/pin_medium.png') }}", // url
                      //scaledSize: new google.maps.Size(25, 39.5), // scaled size
                      origin: new google.maps.Point(0,0), // origin
                      anchor: new google.maps.Point(11, 40) // anchor
                  };

                  {% for device in devices %}
                    {% if device.currentLat != None %}
                        var {{device.name}}pin = {lat: {{ device.currentLat }}, lng: {{ device.currentLng }}};
                        var {{device.name}}content = '<div id="content">'+
                              '<div id="siteNotice">'+
                              '</div>'+
                              '<h1 id="firstHeading" class="firstHeading">{{ device.name }}</h1>'+
                              '<div id="bodyContent">'+
                              '<p>Twoje urządzenie <b>{{ device.name }}</b> znajduje się w tej lokalizacji.</p>' +
                              '</div>'+
                              '</div>';
                        var {{device.name}}window = new google.maps.InfoWindow({
                          content: {{device.name}}content
                        });
                        var {{ device.name }} = new google.maps.Marker({
                          position: {{device.name}}pin,
                          map: map,
                          title: '{{ device.name }}',
                          icon: icon
                        });
                        {{ device.name }}.addListener('click', function() {
                          {{device.name}}window.open(map, {{ device.name }});
                      });
                    {% endif %}
                  {% endfor %}
                }
                // window.location.reload(true);
              </script>
              <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBaw3kCuHb1rRCMMMkxxsmpLB8kRwIKSfs&callback=initMap&libraries=drawing"
              async defer></script>
          </div>
    </div>
  </div>

</body>
