<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Geoloracja Dashboard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

</html>

<header>
  <nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="{{ url_for('static', filename='images/geoloracja_logo.png') }}" width="47" height="30" class="d-inline-block align-top" alt="">
    Geoloracja Dashboard
  </a>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link active" href="{{ url_for('logout') }}">Wyloguj</a>
    </li>
  </ul>
</nav>
</header>

<body class="text-center">
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Tutaj będzie panel użytkownika</h1>
      {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class=flashes style="margin-top:20px">
              {% for message in messages %}
              <div class="container-fluid">
                  <div class="row">
                      <div class="col-md-10 col-md-offset-5">
                          <div class="alert alert-danger text-center" role="alert">
                              {{ message }}
                          </div>
                      </div>
                  </div>
              </div>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
      {% block body %}{% endblock %}
    </div>
  </div>

</body>
