<h1><a id="GeoLoRacja_Server_0"></a><center><font face="roboto" color="black">GeoLoRacja Server</font></center></h1>
<p><font face="roboto" color="black">Server created for team project called “GeoLoRacja”</font></p>
<h2><a id="Author_4"></a><font face="roboto" color="black">Author</font></h2>
<ul>
<li><strong><font face="roboto" color="black">Konrad Gebler</font></strong></li>
</ul>
<h2><a id="Database_Info_8"></a><font face="roboto" color="black">Database Info:</font></h2>
<ul>
<li><font face="roboto" color="black">PostrgreSQL 10</font></li>
</ul>
<h2><a id="Libraries_12"></a><font face="roboto" color="black">Libraries:</font></h2>
<ul>
<li><font face="roboto" color="black">Flask</font></li>
<li><font face="roboto" color="black">SQLAlchemy</font></li>
</ul>
