<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <title>Geoloracja Dashboard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link href="{{ url_for('static', filename='css/dashboard.css') }}" rel="stylesheet">
</head>

</html>

<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="/">
      <img src="{{ url_for('static', filename='images/geoloracja_logo.png') }}" width="47" height="30" class="d-inline-block align-top" alt="">
      Geoloracja Dashboard
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
           <a class="nav-link" href="{{ url_for('dashboard') }}">Dashboard <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('mydevices') }}">Moje Urządzenia</a>
        </li>
        <li class="nav-item">
         <a class="nav-link" href="{{ url_for('myprofile') }}">Mój profil</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <a class="btn btn-success my-2 my-sm-0" href="{{ url_for('logout') }}">Wyloguj</a>
      </form>
    </div>
  </nav>
</header>

<body>
   <div class="container-fluid">
     <div class="row">
       <nav class="col-md-2 d-none d-md-block bg-light sidebar">
         <div class="sidebar-sticky">
           <ul class="nav flex-column">
             <li class="nav-item">
               <a class="nav-link active" href="{{ url_for('mydevices') }}">
                 <span data-feather="home"></span>
                 Moje urządzenia <span class="sr-only">(current)</span>
               </a>
             </li>
             <li class="nav-item">
               <a class="nav-link" href="{{ url_for('newdevice') }}">
                 <span data-feather="file"></span>
                 Nowe urządzenie
               </a>
             </li>
           </ul>

           <!-- <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
             <span>Saved reports</span>
             <a class="d-flex align-items-center text-muted" href="#">
               <span data-feather="plus-circle"></span>
             </a>
           </h6>
           <ul class="nav flex-column mb-2">
             <li class="nav-item">
               <a class="nav-link" href="#">
                 <span data-feather="file-text"></span>
                 Current month
               </a>
             </li>
             <li class="nav-item">
               <a class="nav-link" href="#">
                 <span data-feather="file-text"></span>
                 Last quarter
               </a>
             </li>
             <li class="nav-item">
               <a class="nav-link" href="#">
                 <span data-feather="file-text"></span>
                 Social engagement
               </a>
             </li>
             <li class="nav-item">
               <a class="nav-link" href="#">
                 <span data-feather="file-text"></span>
                 Year-end sale
               </a>
             </li>
           </ul> -->
         </div>
       </nav>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>


  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4" style="margin-top: 4rem;">
      <h2>Lista Urządzeń</h2>
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Nazwa</th>
                  <th>Adres Urządzenia</th>
                  <th>Data ostatniej aktualizacji</th>
                  <th>Edycja</th>
                </tr>
              </thead>
                <tbody>

                  {% for device in devices %}
                  <tr>
                      <td>{{loop.index}}</td>
                      <td>{{device.name}}</td>
                      <td>{{device.deviceAddress}}</td>
                      {% if device.lastUpdate != None %}
                        <td>{{device.lastUpdate.replace(microsecond=0)}}</td>
                      {% else %}
                        <td>Brak</td>
                      {% endif %}
                      <td><a class="btn btn-success" data-toggle="modal" data-target="#{{device.name}}Modal" style="padding: 0.5% 0; width: 70px; color: #fff;">Edytuj</a></td>
                      <!-- Modal -->
                        <div class="modal fade" id="{{device.name}}Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Edycja urządzenia: {{device.name}}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <form action="/editprofile" method="POST">
                              <div class="modal-body">
                                  <div class="form-group">
                                    <label for="name">Nazwa urządzenia</label>
                                    <input type="text" class="form-control" id="name" name="nameField" placeholder="{{device.name}}">
                                  </div>
                                  <div class="form-group">
                                    <label for="address">Adres urządzenia</label>
                                    <input type="text" class="form-control" id="address" name="addressField" placeholder="{{device.deviceAddress}}">
                                  </div>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                                <a class="btn btn-danger my-2 my-sm-0" href="/removedevice/{{device.deviceAddress}}">Usuń urządzenie</a>
                                <button type="submit" class="btn btn-success">Zapisz zmiany</button>
                              </div>
                            </form>
                            </div>
                          </div>
                        </div>
                        <!-- Modal end -->
                  </tr>
                  {% endfor %}
                </tbody>
            </table>
          </div>
        </main>

      {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class=flashes style="margin-top:20px">
              {% for message in messages %}
              <div class="container-fluid">
                  <div class="row">
                      <div class="col-md-10 col-md-offset-5">
                          <div class="alert alert-danger text-center" role="alert">
                              {{ message }}
                          </div>
                      </div>
                  </div>
              </div>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
      {% block body %}{% endblock %}
    </div>
  </div>

</body>
