<!DOCTYPE html>
<html>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script src="{{ url_for('static', filename='js/lora.js') }}"></script>


    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<header>
  <nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="{{ url_for('static', filename='images/geoloracja_logo.png') }}" width="47" height="30" class="d-inline-block align-top" alt="">
    Geoloracja Listener
  </a>
</nav>
</header>

<body>
  <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Lora live messages monitor</h1>
  </div>
</div>
<div class="container" id="content">
    <div class="row">
        <div id="log">
    </div>
</div>


</div>

</body>
</html>
